{% load staticfiles %}
<html>
    <head>
        <title>MTG Practice Site</title>
    </head>
    <body>
        <h1>MTG Practice Site</h1>
        <nav>
            <a href="/">Main Page</a>
            <a href="/deck_builder">Deck Builder</a>
            <div class="user-info">
                {% if user.is_authenticated %}
                    Welcome, {{ user.username }}
                    <a href="{% url 'logout' %}">Signout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'sign_up' %}">Signup</a>
                {% endif %}
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>